<template>
<div>
    <Head>
        <Title>{{ title }}</Title>
        <Meta name="description" :content="description" />
        <Meta name="keywords" content="futuryści, futuryzm, język, język polski, ortografia, pomysł, uproszczenie, uproszczenie ortografii, bruno jaśeński" />
        <Meta name="author" content="Andrea <andrea@avris.it>" />
        <Link rel="shortcut icon" href="/icons/notebook-dynamic-premium.png" type="image/svg+xml"/>

        <Meta property="og:type" content="article" />
        <Meta property="og:title" :content="title" />
        <Meta property="og:url" :content="baseUrl" />
        <Meta property="og:image" :content="`${baseUrl}/banner.png`" />

        <Meta name="twitter:card" content="summary_large_image"/>
        <Meta name="twitter:title" :content="title"/>
        <Meta name="twitter:description" :content="description"/>
        <Meta name="twitter:image" :content="`${baseUrl}/banner.png`"/>

        <Script defer data-domain="futurysci.avris.it" src="https://plausible.avris.it/js/script.js"></Script>
    </Head>
    <div v-html="matomo"/>
    <div class="page page-shadow d-flex justify-content-center align-items-center bg-gradient-dark">
        <div class="container">
            <header class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <img src="/icons/notebook-dynamic-premium.png" class="icon mx-2"/>
                <div>
                    <h1>
                        A gdyby tak uprościć ortografię…?
                        <br/>
                        <small>Mańifest Jaśeńskiego w praktyce</small>
                    </h1>
                    <p>
                        Któż z nas nigdy nie narzekało, jaka to ortografia jest trudna i niepotrzebna?<br class="d-none d-lg-block"/>
                        W 1921 roku Futuryści postanowili coś z nią zrobić i stworzyli coś,<br class="d-none d-lg-block"/>
                        co uznali za pisownię <em>jedyńe słuszną, uzasadńoną i wygodną</em>.
                    </p>
                    <p>
                        Czemu ich propozycja przeszła bez większego echa?<br class="d-none d-lg-block"/>
                        Cóż, zobaczcie jak <em>ortografja fonetyczna</em> działa w praktyce:
                    </p>
                </div>
            </header>
            <div class="text-center my-4">
                <a href="#manifest" @click.prevent="scrollToAnchor" class="btn btn-primary m-3">
                    <img src="/icons/file-text-dynamic-premium.png" class="icon-sm mx-2"/>
                    Treść Mańifestu
                </a>
                <a href="#generator" @click.prevent="scrollToAnchor" class="btn btn-primary m-3">
                    <img src="/icons/play-dynamic-premium.png" class="icon-sm mx-2"/>
                    Generator
                </a>
                <a href="#dlaczego-nie" @click.prevent="scrollToAnchor" class="btn btn-primary m-3">
                    <img src="/icons/chat-bubble-dynamic-premium.png" class="icon-sm mx-2"/>
                    Dlaczego nie?
                </a>
            </div>
        </div>
    </div>
    <div id="manifest" class="page page-shadow d-flex justify-content-center align-items-center bg-gradient-light">
        <div class="container container-wide">
            <header class="d-flex flex-column flex-lg-row align-items-center">
                <img src="/icons/file-text-dynamic-premium.png" class="icon"/>
                <div>
                    <h2 class="mb-4">
                        Treść Mańifestu
                    </h2>
                    <p class="mb-4">
                        <strong>Źródło:</strong>
                        <a href="https://polona.pl/item/610869/0/" target="_blank" rel="noopener">
                            Jednodńuwka Futurystuw : mańifesty futuryzmu polskiego<br/>
                            wydańe nadzwyczajne na całą Żeczpospolitą Polską : Krakuw - czerwiec - MCMXXI
                        </a>
                    </p>
                    <p class="mb-4">
                        <strong>Licencja:</strong>
                        <img src="/icons/public-domain.svg" alt="" class="icon-xs"/>
                        domena publiczna
                    </p>
                </div>
            </header>

            <div class="two-columns">
                <h3>Mańifest w sprawie ortografji fonetycznej</h3>
                <p>
                    1. Wyhodząc z założeńa, że mowa ludzka jest kompleksem pewnej skali dźwiękuw,
                    połączonyh ze sobą i twożącyh w ten sposub dźwięki złożone o pewnym umuwionym znaczeńu –
                    słowa, za najważńejsze zadańe pisowńi każdej rozumimy jaknajdoskonalsze oddańe
                    za pomocą zankuw symbolicznyh (liter) znakuw orgańicznyh (dźwiękuw).
                    Idealną pisowńą zatem będźe pisowńa z gruntu prosta i śćiśle fonetyczna.
                    Wszystko co pszesłańa ten cel lub mu bezpośredńo ńe służy jest tem samem ńepotszebne, obćążające i szkodliwe.
                </p>
                <p>
                    2. Z drugiej strony zadańem i celem każdego pisma jest za pomocą jaknajmńejszej ilośći umuwionyh znakuw
                    odtwożyć jaknajwiększą ilość dźwiękuw-słuw i dźwiękuw zdań. Dlatego tu, jak i w każdej innej dźedźińe
                    proporcjonalńe do rozszeżeńa materjału pisowńa w swoim rozwoju zdążać muśi świadomie i konsekwentńe
                    do jaknajwiększej syntetyzacji i skrutuw. Ideałem każdego pisma jest stenografja.
                </p>
                <p>
                    Opierając śę na tyh dwuh zasadńiczyh pszesłankah, kture uważamy za słuszne i jedyne,
                    zastosowując je do obecnej ortografji polskiej i ńe cofając śę pszed wyprowadzeńem z ńih wszystkih konsekwencji —
                    <br/>ogłaszamy:
                </p>
                <p>
                    3. <strong>Absurdem jest dla wyrażeńa jednego i tego samego dźwięku używańe 2 rużnyh znakuw (liter).</strong>
                    Dlatego skreślamy raz na zawsze z alfabetu polskiego jako zbyteczne litery
                    <strong>ó</strong> i <strong>rz</strong>, pońeważ w wymawiańu ńe rużńą śę ńiczem od liter
                    <strong>u</strong> i <strong>ż</strong> lub <strong>sz</strong> i bez szkody dadzą śę pszez ńe zastąpić.
                    Bardźej skomplikowańe pszedstawia śę sprawa z literami <strong>ch</strong> i <strong>h</strong>,
                    w kturyh wymawiańu fonetycznym zahodźi żeczywiśće pewna bardzo subtelna rużńica.
                    Pońeważ jednak wyrażańe jednego dźwięku dwoma ńic ze sobą wspulnego ńe mającymi znakami (c i h),
                    kturyh połączeńe w żadnym raźe ńe daje takiego dźwięku <strong>h</strong> za jaki go wymawiamy,
                    jest w zasadźe absurdem, pszeto i w danym wypadku połączeńe liter <strong>ch</strong>
                    z alfabetu polskiego wykreślamy. Dla zaznaczeńa tyh subtelnyh rużńic można z czasem
                    nad zasadńiczą literą <strong>h</strong> stawiać jakiś umuwiony znak.
                    Ńe wprowadzamy tego, pońeważ naraźe powstszymujemy śę od twożeńa jakihkolwiek nowyh liter.
                    Zadańem tej reformy elementarnej jest jedyńe oczyszczeńe pisowni polskiej
                    z całego balastu znakuw zbędnyh, a tem samem szkodliwyh.
                </p>
                <p>
                    Dlatego pozostawiamy po dawnemu połączeńa liter <strong>sz, cz</strong> (także <strong>dz, dź</strong>),
                    pońeważ dla oznaczeńa dźwiękuw <strong>sza</strong> i <strong>cze</strong> alfabet polski innyh znakuw ńe pośada.
                    Można by je zastąpić na wzur alfabetu czeskiego umuwionymi znakami nad literami
                    <strong>s</strong> i <strong>c</strong>, od czego śę jednak powstszymujemy,
                    pońeważ zamieńańe jednyh liter drugimi ńe jest naraźe naszym zadańem.
                    Uważamy więc poprostu znaki <strong>sz</strong> i <strong>cz</strong>
                    (także <strong>dz</strong> i <strong>dź</strong>) za nowe złożone litery,
                    powstałe z połączeńa dwuh liter dawnyh i nazywamy je literami <strong>sza</strong> i <strong>cze</strong>.
                </p>
                <p>
                    4. <strong>Absurdem jest pośadając już w alfabeće umuwiony znak na wyrażeńe danego dźwięku
                    w pewnych ńeuzasadńonyh wypadkah zamieńać go dwoma innymi znakami, ńe dającymi wcale w sumie tego dźwięku.</strong>
                </p>
                <p>
                    Skoro alfabet polski pośada litery symbolizujące dźwięki miękkie <strong>ń, ć, ś, ź</strong> –
                    nonsensem jest używańe pszed samogłoskami zamiast tyh liter absolutńe ńe pokrywającyh ih
                    <strong>ni, ci, si, zi</strong> (<strong>sieć</strong> zamiast <strong>śeć</strong>;
                    <strong>nie</strong> zamiast <strong>ńe</strong>; <strong>cień</strong> zamiast <strong>ćeń</strong>;
                    <strong>ziele</strong> zamiast <strong>źele</strong>).
                </p>
                <p>
                    Ruwńeż używańe liter twardyh (n, s, c, z) tam gdźe wyraźńe słyszy śę miękkie (ń, ś, ć, ź)
                    jest nonsensem i podlega usuńęću, (<strong>sito</strong> zamiast <strong>śito</strong>;
                    <strong>cisza</strong> zamiast <strong>ćisza</strong>; <strong>zimno</strong> zamiast <strong>źimno</strong>).
                </p>
                <p>
                    Tam gdźe alfabet polski odpowiednih zmiękczeń ńe pośada pozostawiamy naraźe sposub pisańa stary.
                    Z czasem na wzur spułgłosek miękkih ń, ś itd. powstaną takie same <strong>ḿ, ṕ, ẃ</strong>,
                    kture znaczńe uproszczą i ujednostajńą pisowńę polską. Naraźe jednak z pszyczyn czysto tehnicznyh
                    i aby ńe wprowadzać zbyt wielkiego haosu ograńiczamy śę jedyńe do tyh znakuw,
                    jakih dostarcza nam alfabet polski. Z hwilą pszełamańa pierwszyh loduw tradycji i pszyzwyczajeń
                    będźe mogła ta reforma pujść dalej i zająć śę uzupełńeńem samego alfabetu.
                </p>
                <p>
                    5. <strong>Na miejsce tyh wszystkih zbytecznośći i dźiwactw ortograficznyh wszędźie tam,
                    gdźe słyhać wyraźnie jakiś dźwięk, a w najbliższyh odmianah ńema dźwięku bliźńo innego</strong>
                    (łyżka – łyżek) <strong>ustanawia śę pisowńę śćiśle fonetyczną.</strong>
                    Dlatego odtąd słowo <strong>tszy</strong> pisać będziemy zawsze pszez <strong>sz</strong>,
                    pońeważ dźwięk ten jest w ńim zupełńe wyraźny i ńema uzasadńonego powodu zamieńańa go jakimś innym.
                    Ruwnież pszyrostek <strong>psze, pszed</strong> i wszystkie od ńego pohodne słowa
                    pisać będźemy nadal w ten sposub, pomimo najszczerszyh bowiem hęći ńe możemy śę dopatszyć rużńicy
                    w bżmieńu między słowami <strong>pszeńicować</strong> a <strong>pszeńica</strong>,
                    ktura by nam to pierwsze kazała pisać w jakiś odrębny sposub.
                </p>
                <p>
                    6. W pszekonańu że reforma nasza ortografji polskiej oparta na zasadah fonetycznyh
                    jest jedyńe słuszną, uzasadńoną i wygodną – wzywamy wszystkih obywateli polskih
                    do wprowadzańa jej w życie z hwilą ogłoszeńa ńińejszego mańifestu.
                    Zwracamy śę do kierowńikuw szkuł, nauczyćeli ludowyh i gimnazjalnyh,
                    także do Ministerstwa Wyznań Religijnyh i Oświeceńa publicznego z żądańem
                    wprowadzeńa jej niezwłocznego w szkołah elementarnyh, średnih i wyższyh.
                </p>
                <p class="text-end">W Sandomierskiem, 25 marca 1921</p>
                <p class="text-end">Bruno Jaśeński</p>
            </div>
        </div>
    </div>
    <div id="generator" class="page page-shadow d-flex justify-content-center align-items-center bg-gradient-dark">
        <div class="container">
            <header class="d-flex flex-column flex-lg-row align-items-center text-center text-lg-start">
                <img src="/icons/play-dynamic-premium.png" class="icon"/>
                <div>
                    <h2>
                        Generator
                    </h2>
                    <ul class="list-unstyled d-flex flex-column flex-lg-row">
                        <li>
                            <a href="https://www.npmjs.com/package/avris-futurus" target="_blank" rel="noopener" class="btn btn-primary btn-sm m-2">
                                Biblioteka JavaScript
                            </a>
                        </li>
                        <li>
                            <a href="https://packagist.org/packages/avris/futurus" target="_blank" rel="noopener" class="btn btn-primary btn-sm m-2">
                                Biblioteka PHP
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="row">
                <div class="col-12 col-lg-6 py-2">
                    <contenteditable tag="div" class="form-control" v-model="generatorInput"/>

                </div>
                <div class="col-12 col-lg-6 py-2">
                    <div class="form-control" v-html="generatorOutputDiff"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dlaczego-nie" class="page page-shadow d-flex justify-content-center align-items-center bg-gradient-light">
        <div class="container">
            <header class="d-flex flex-column flex-lg-row align-items-center text-center text-lg-start">
                <img src="/icons/chat-bubble-dynamic-premium.png" class="icon"/>
                <div>
                    <h2>
                        Dlaczego nie?
                    </h2>
                    <ul class="list-unstyled d-flex flex-column flex-lg-row">
                        <li>
                            <a href="#kwestie-jezykowe" @click.prevent="scrollToAnchor" class="btn btn-primary btn-sm m-2">Kwestie językowe</a>
                        </li>
                        <li>
                            <a href="#kwestie-implementacyjne" @click.prevent="scrollToAnchor" class="btn btn-primary btn-sm m-2">Kwestie implementacyjne</a>
                        </li>
                        <li>
                            <a href="#tldr" @click.prevent="scrollToAnchor" class="btn btn-primary btn-sm m-2">TL;DR</a>
                        </li>
                        <li>
                            <a href="#plusy" @click.prevent="scrollToAnchor" class="btn btn-primary btn-sm m-2">Czy są jakieś plusy?</a>
                        </li>
                    </ul>
                </div>
            </header>
            <p>
                Propozycja Futurystów wygląda kusząco, czyż nie?
                Wprawdzie trochę ciężko się to czyta, ale to przecież tylko kwestia przyzwyczajenia!
                Czemu, poza zatwardziałym puryzmem językowym, ktokolwiek miałoby być przeciwko ich propozycji?
            </p>
            <p>
                Cóż, mi do puryzmu daleko. Wręcz przeciwnie – współtworzę stronę
                <a href="https://zaimki.pl" target="_blank" rel="noopener">zaimki.pl</a>,
                gdzie również ogłosiłośmy rewolucyjny manifest językowy,
                <a href="https://zaimki.pl/manifest" target="_blank" rel="noopener">Manifest Niebinarnej Polszczyzny</a>.
                A jednak nie sądzę, by Mańifest Jaśeńskiego był dobrym pomysłem.
                Dlaczego?
            </p>
            <div class="two-columns">
                <section class="break-after">
                    <h3 id="kwestie-jezykowe">Kwestie językowe</h3>
                    <ul>
                        <li class="mb-2">
                            Futuryści wcale <strong>nie są konsekwentni</strong>. Nazywają swoją ortografię <em>śćiśle fonetyczną</em>,
                            lecz gdyby naprawdę tak było, pisaliby np. <em>apsurt, sposup i ruwniesz</em>…
                            Spośród czterech głównych zasad ortograficznych nie pozbyli się żadnej:
                            <ul>
                                <li>
                                    <strong>fonetyczna</strong>: piszemy tak samo jak czytamy, np: <em>okno, szpilka, dawny, …</em>;
                                </li>
                                <li>
                                    <strong>morfologiczna</strong>: te same morfemy zapisujemy tak samo w różnych formach wyrazu,
                                    nawet jeśli brzmią inaczej, np. <em>krzew</em> piszemy przez 'w' choć mówimy 'f',
                                    ponieważ w innych formach wymawiamy 'w' dźwięcznie: <em>krzewie, krzewu, krzewy…</em>;
                                    futuryści podtrzymują tę zasadę (patrz: punkt 5);
                                </li>
                                <li>
                                    <strong>historyczna</strong>: piszemy tak, jak to się utrwaliło w trakcie rozwoju języka,
                                    jakkolwiek współcześnie wydaje się to bezpodstawne;
                                    Futuryści odrzucili tę zasadę m.in. w przypadku 'ó' i 'u',
                                    ale jednocześnie pisząc 'absurd' przez 'b',
                                    a więc respektując łacińską etymologię tego słowa;
                                </li>
                                <li>
                                    <strong>konwencjonalna</strong>: w przypadkach, gdy żadna z wcześniejszych reguł nie ma zastosowania,
                                    piszemy tak, jak ustalono; dotyczy to przede wszystkim pisowni łącznej i rozdzielnej,
                                    z łącznikiem lub bez niego, wielką i małą literą, a także zapisu skrótów i skrótowców.
                                    Manifest Jaśeńskiego nawet nie dotyka tego tematu.
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Innowacje futurystów może i pomogłyby dzieciom w dyktandach,
                            ale większość dorosłych zastanawia się raczej,
                            gdzie postawić przecinki albo czy zapisać coś łącznie czy rozdzielnie, wielką czy małą literą –
                            a nie przez jakie 'u' pisze się <em>król</em>.
                            Nie wszystko słychać w wymowie.
                        </li>
                        <li class="mb-2">
                            Jeśli ktosio mówi na przykład <em>wziąść</em> zamiast normatywnego <em>wziąć</em>,
                            futurystyczne innowacje również nie pomogą w trzymaniu się normy.
                        </li>
                        <li class="mb-2">
                            Gdyby futuryści konsekwentnie trzymali się ortografii <em>ściśle fonetycznej</em>,
                            powstałyby takie nonsensy, jak słowa <em>krowa</em> i <em>kruf</em>,
                            wyglądające zupełnie inaczej, mimo iż pochodzą od jednego leksemu i różnią się tylko końcówką fleksyjną.
                            Natomiast nie trzymając się jej (pkt. 5) – upraszczają na tyle mało,
                            że moim zdaniem <strong>po prostu nie warto</strong>.
                            W przypadku normatywnej polszczyzny trzeba się zastanowić nad parą <em>krowa – krów</em>,
                            jeśli nie wiemy, czy użyć 'u' czy 'ó' – a w przypadku polszczyzny futurystycznej,
                            jeśli nie wiemy, czy użyć 'w' czy 'f'.
                            I&nbsp;tak źle, i&nbsp;tak niedobrze.
                        </li>
                        <li class="mb-2">
                            Manifest Jaśeńskiego nie uwzględnia wielu zjawisk fonetycznych, na przykład:
                            <ul>
                                <li>
                                    <strong>uproszenie grup spółgłoskowych</strong>:
                                    czy na przykład liczbę 99 trzeba by zapisywać jako 'dźew<strong>jeń</strong>dźeśąt dźew<strong>jęć</strong>',
                                    gdzie słowa o tym samym rdzeniu wyglądają tu zupełnie inaczej,
                                    czy wyjątek z punktu 5 jednak miałby tu zastosowanie? (w końcu nie chodzi o „najbliższą odmianę”);
                                </li>
                                <li>
                                    <strong>zróżnicowanie gwarowe, dialektowe</strong>:
                                    nie wszystkie osoby mówią <em>kiedy</em> i <em>okno</em>
                                    – niektóre mówią <em>kedy</em> oraz <em>łokno</em>;
                                    czy zgodnie z Mańifestem tego typu zróżnicowanie obejmowałoby nie tylko mowę, ale i pismo?
                                </li>
                                <li>
                                    <strong>zróżnicowanie wynikające ze staranności artykulacji</strong>:
                                    <em>komfort</em> czy <em>kąfort</em>? <em>będą</em> czy <em>bendo</em>?
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Istnieją słowa, dla których normatywna jest tylko jedna pisownia, ale dwa sposoby wymowy
                            np. 'z' w <em>komizmie</em> może być zarówno twarde, jak i miękkie.
                            Która wersja według Futurystów powinna być podstawą do ustalenia zapisu?
                        </li>
                        <li>
                            W ortografii <em>śćiśle fonetycznej</em> <strong>homonimy</strong> stałyby się również homografami.
                            Same oceńcie, gdy byłoby trudniej, czy prościej, gdyby poniższe pary nie tylko brzmiały tak samo,
                            ale też pisało by się je identycznie:
                            <em>rozwieść</em> i <em>rozwieźć</em>,
                            <em>zawieźć</em> i <em>zawieść</em>,
                            <em>morze</em> i <em>może</em>,
                            <em>język francuski</em> i <em>język Francuzki</em>,
                            <em>pięć dób</em> i <em>pięć dup</em>…
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 id="kwestie-implementacyjne">Kwestie implementacyjne</h3>
                    <ul>
                        <li class="mb-2">
                            <a href="https://zaimki.pl/kolektyw-rjn" target="_blank" rel="noopener">Kolektyw</a>
                            tworzący stronę <a href="https://zaimki.pl" target="_blank" rel="noopener">zaimki.pl</a>
                            często spotyka się z zarzutem, że zmiany w języku <em>koniecznie muszą</em> zachodzić <em>baaardzo</em> stopniowo
                            (głównie ze strony osób chcących tak naprawdę, by najlepiej to nie zmieniał się już w ogóle).
                            Tymczasem zmiany tam przez nas proponowane są w porównaniu do Mańifestu Jaśeńskiego
                            zdecydowanie subtelniejsze i naturalniejsze.
                            Chcemy raptem, by parę form było inkluzywniejszych, mniej nacechowanych płciowo –
                            a nie żeby zapisu niemal każdego słowa trzeba się było uczyć na nowo!
                            Wyobraźcie sobie ten chaos, kłótnie, i mieszanie nowego systemu ze starym,
                            gdyby Mańifest rzeczywiście zrealizowano!
                        </li>
                        <li class="mb-2">
                            Od lat mówię i piszę o sobie oraz innych osobach niebinarnych używając – zgodnie z ich życzeniem –
                            <a href="https://zaimki.pl/zaimki" target="_blank" rel="noopener">„niepopularnych” form</a>.
                            Pomyłki się oczywiście zdarzają, ale aż tak trudno nie jest.
                            Tymczasem przestawić sie na pisownię futurystyczną to już wyzwanie.
                            Potwierdzam, próbowałom. Przez 24h pisałom ze znajomymi futurystycznemu.
                            Bardzo nie polecam tego doświadczenia.
                            Przepisywanie <em>Mańifestu</em> ze skanu też nie było przyjemne.
                            Ba, sam Jaśeński miał z tym problemy, sądząc po tym, ile „błędów” w nim zrobił
                            (<em>pewnych</em> zamiast <em>pewnyh</em>,
                            <em>pisowni</em> zamiast <em>pisowńi</em>,
                            <em>będziemy</em> zamiast <em>będźiemy</em>,
                            <em>ruwnież</em> zamiast <em>ruwńież</em>,
                            <em>życie</em> zamiast <em>żyće</em>,
                            <em>niezwłocznego</em> zamiast <em>ńezwłocznego</em>,
                            <em>Ministerstwa</em> zamiast <em>Mińisterstwa</em>,
                            <em>średnih</em> zamiast <em>średńih</em>).
                        </li>
                        <li class="mb-2">
                            Czy polska ortografia jest aż tak skomplikowana, by wymagać tak drastycznych zmian?
                            Jeśli porównamy ją na przykład do języka angielskiego,
                            gdzie litera 'o' w wyrazach pochodnych tego samego słowa <em>do</em>
                            może być czytana jako <span class="text-nowrap">/uː/</span> (<em>do</em>),
                            <span class="text-nowrap">/əʊ/</span> (<em>don't</em>)
                            lub <span class="text-nowrap">/ʌ/</span> (<em>does</em>),
                            albo do francuskiego, gdzie słowo <em>Bordeaux</em>
                            ma z wymową <span class="text-nowrap">/bɔʁ.do/</span> niewiele wspólnego,
                            polski zaczyna wyglądać bardzo kusząco z tą swoją pisownią <em>niemal</em> zgodną z wymową,
                            czyż nie?
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 id="tldr">TL;DR</h3>
                    <p>
                        Zwyczajnie się to nie opłaca.
                        Bardzo dużo byłoby z tym zachodu,
                        tylko po to, by uprościć ortografię tylko pozornie.
                    </p>
                </section>
                <section>
                    <h3 id="plusy">Czy są jakieś plusy?</h3>
                    <p>
                        Oczywiście! Nie bez powodu poświęciłom tyle czasu, by stworzyć tę stronę 😉
                        Propozycja Futurystów, gdy pierwszy raz się z nią spotkałom w podręczniku licealnym,
                        była dla mnie spełnieniem mokrych snów dzieciaka z podstawówki wkuwającego na dyktando!
                    </p>
                    <p>
                        A jednak mimo swojej pozornej zajebistości, mimo że powstał ponad sto lat temu,
                        Mańifest Jaśeńskiego nie zmienił sposobu w jaki zdecydowana większość z nas pisze. Dlaczego?
                        Czyż to nie jest fascynujące pytanie?
                    </p>
                    <p>
                        Jego zgłębienie pomogło mi w zrozumieniu tego, jak działa język,
                        w jaki sposób się zmienia, jakie zmiany są potrzebne, jakie zmiany są możliwe,
                        i w jaki sposób mogłyby zostać wprowadzone.
                        <em>Jednodniówka Futurystów</em> jest cudownym eksperymentem językowym!
                        Wcale nie musi mieć praktycznego zastosowania ani przełożenia na zawartość podręczników ortografii,
                        by być fascynująca!
                    </p>
                </section>
            </div>
        </div>
    </div>
    <footer class="page-shadow bg-dark text-white">
        <div class="container py-5">
            <div class="d-flex flex-column flex-lg-row text-center text-lg-start">
                <img src="/icons/girl-dynamic-clay.png" alt="" class="d-none d-lg-block" style="height: 100px; width: 100px">
                <div class="flex-grow-1">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Autorze strony: <strong>Andrea Vos</strong>
                        </li>
                        <li class="mb-2">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img src="/icons/at-dynamic-clay.png" alt="Kontakt" class="icon-xs"/>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://avris.it" target="_blank" rel="noopener">
                                        avris.it
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="mailto:andrea@avris.it" target="_blank" rel="noopener">
                                        andrea@avris.it
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://zaimki.pl/@andrea" target="_blank" rel="noopener">
                                        zaimki.pl/@andrea
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            <ul class="list-inline small">
                                <li class="list-inline-item">
                                    <img src="/icons/axe-dynamic-clay.png" alt="Narzędzia" class="icon-xs"/>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://v3.nuxtjs.org" target="_blank" rel="noopener">
                                        Nuxt
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://v3.vuejs.org/" target="_blank" rel="noopener">
                                        Vue
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://3dicons.co/" target="_blank" rel="noopener">
                                        3dicons
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.gradientmagic.com/" target="_blank" rel="noopener">
                                        Gradient Magic
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <Share :baseUrl="baseUrl" :title="title" :text="description"/>
            </div>
        </div>
    </footer>
</div>
</template>

<script>
import futurusB from 'avris-futurus';
import contenteditable from 'vue-contenteditable';
import Share from 'avris-vue-share';

// not sure why (parcel's fault?) but one works in dev, the other in prod
const futurus = futurusB.default === undefined ? futurusB : futurusB.default;

export default {
    components: { contenteditable, Share },
    data() {
        return {
            title: 'A gdyby tak uprościć ortografię…? – Mańifest Jaśeńskiego w praktyce',
            description: `
                Któż z nas nigdy nie narzekało, jaka to ortografia jest trudna i niepotrzebna?
                W 1921 roku Futuryści postanowili coś z nią zrobić i stworzyli coś,
                co uznali za pisownię „jedyńe słuszną, uzasadńoną i wygodną”.
                Czemu ich propozycja przeszła bez większego echa?
                Cóż, zobaczcie jak „ortografja fonetyczna</em> działa w praktyce”…
            `,
            baseUrl: 'https://futurysci.avris.it',

            generatorInput: 'Wrzuć tu dowolny tekst pisany normatywną polszczyzną, a w polu obok pojawi się wersja zgodna z Manifestem Jasieńskiego.',

            // vue-matomo plugin doesn't work... do this in the meanwhile
            matomo: `<script type="text/javascript">
                var _paq = window._paq || [];
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                var u="https://matomo.avris.it/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </` + `script>`,
        }
    },
    computed: {
        generatorOutput() {
            return futurus.futuriseText(this.generatorInput);
        },
        generatorOutputDiff() {
            const inputWords = this.generatorInput.split(' ');
            const outputWords = this.generatorOutput.split(' ');
            return outputWords.map((word, i) => {
                if (word === inputWords[i]) {
                    return word;
                }
                return '<mark>' + word + '</mark>';
            }).join(' ').replace(/\n\n\n/g, '\n\n').replace(/\n/g, '<br/>');
        },
    },
    methods: {
        scrollToAnchor(e) {
            window.scrollTo({
                top: document.getElementById(e.target.getAttribute('href').substring(1)).offsetTop,
            });
        },
    },
}
</script>

<style lang="scss">
@import "assets/style";

html {
    scroll-behavior: smooth;
}

.btn {
    color: $gray-800;
    @each $color, $value in $theme-colors {
        &-#{$color} {
            &:hover, &:focus {
                @if ($color == secondary or $color == light) {
                    background-color: $gray-200;
                    color: $gray-700;
                } @else {
                    background-color: $value;
                    color: $white;
                }
            }
        }
    }
}

footer {
    a {
        color: $white;
        &:hover {
            color: $gray-200;
        }
    }
}

mark, .mark {
    background-color: lighten($yellow, 30%);
    margin: -0.2em;
}

.page {
    width: 100%;
    min-height: 100vh;
    padding-top: 3*$spacer;
    padding-bottom: 3*$spacer;
}

.page-shadow {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .4);
}

.bg-gradient-dark {
    background-image: radial-gradient(circle at 83% 70%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 72% 5%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 26% 91%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 19% 59%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 18% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 74% 21%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 54% 49%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 14% 83%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 37% 84%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 42% 27%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 67% 82%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(207, 223, 223),rgb(3, 35, 171));
}

.bg-gradient-light {
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}

@include media-breakpoint-up('lg', $grid-breakpoints) {
    .two-columns {
        column-count: 2;
        column-gap: 3 * $spacer;
    }
}

section.break-after {
    break-after: column;
}

.icon {
    width: 240px;
    height: 240px;
}

.icon-sm {
    width: 3em;
    height: 3em;
}

.icon-xs {
    width: 1em;
    height: 1em;
}
</style>
